*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 1166px;
    margin: 0 auto;
}

/* <!-- =============== Common Start CSS ==================== --> */
.paragraph__common{
    font-size: 16px;
    font-weight: 300;
    line-height: 187%;
    color:rgba(32, 50, 57, 0.55);
}
.title{
    font-size: 36px;
    font-weight: 600;
    line-height: 150%;
    text-transform: capitalize;
    color: #203239;
}
.headding{
    font-size: 54px;
    font-weight: 600;
    line-height: 150%;
    color:#203239;
}
/* <!-- =============== Common End CSS ====================== --> */



/* <!-- =============== Navbar Start CSS ==================== --> */
#navbar{
    padding: 50px 0 60px 0;
    background-color: #EEEDDE;
}
.nav__wrapper{
    display: flex;
    justify-content: space-between;
}
.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 100px;
}
.nav_menu ul{
    display: flex;
    column-gap: 100px;
}

.nav_menu ul li a{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all linear .3s;
    color: black;
}
.nav_menu ul li a i{
    column-gap: 5px;
}
.nav_menu ul li a:hover{
    font-weight: bold;
}
/* .nav_menu ul li a::after :hover{
    width:5px;
    height: 2px;
    background-color: red;
} */
.nav__btn{
    background-color: black;
    padding: 13px 40px;
    transition: all linear .3s;
    font-weight: 600;
    border-radius: 10px;
    text-transform: capitalize;
    border: solid 1px #203239;
    color: #fff;
}
.nav__btn:hover{
    background-color: transparent;
    color: #000;
}


/* <!-- =============== Navbar End CSS ====================== --> */



/* <!-- =============== Banner Start CSS ==================== --> */
#banner{
padding: 40px 0 60px 0;
background-color: #EEEDDE;
}
.banner_wrapper{
    display: flex;
}
.banner__left--part{
    width: 65%;
}
.banner__left--part .paragraph{
    margin-top: 30px;
    margin-bottom: 56px;
    padding-right: 170px;
}
.banner__input{
    height: 70px;
    width: 675px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 14px 10px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 56px;
    margin-bottom: 56px;
}
.banner__input--text{
    margin-left: 12px;
    margin-right: 114px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.banner__input a{
    padding: 13px 40px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 8px 0px rgba(32, 50, 57, 0.25);
    font-size: 16px;
    font-weight: 600px;
    text-transform: capitalize;
    transition: all linear .3s;
    transform: scaleX(1.19);
}
.banner__input a:hover{
    background-color: transparent;
    box-shadow: none;
    border: solid 1px #203239;
    color: black;
}
.banner__number{
    display: flex;
    column-gap: 75px;
}
.banner__number--part{
    width: 149px;
    height: 144px;
}
.banner__number--part h3{
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.banner__left--part span{
    color: #FF7527;
}
.banner__left--part p{
    color: rgba(32, 50, 57, 0.55);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}
.banner__right--part{
    height: 523px;
    width: 401px;
}
/* <!-- =============== Banner End CSS ====================== --> */



/* <!-- =============== Details Start CSS ==================== --> */
#detail{
    padding: 100px 0;
}
.detail__title{
    height: 108px;
    width: 533px;
}
.detail__wrapper--box{
    display: flex;
    column-gap: 133px;
}
.detail__box{
    height: 300px;
    width: 300px;
    padding: 20px 33px;
    transition: all linear .3s;
    margin-top: 64px;
}
.detail__box:hover{
    border: solid 1px #203239;
    border-radius: 10px;
}
.detail__box--heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    position: relative;
}
.detail__box--heading::after{
    width: 8px;
    height: 30px;
    border-radius: 5px;
    background: #FF7527 ;
    content: "";
    left: -25px;
    position: absolute;
    top: -8px;
}

.detail__box--right{
    color: #FF7527;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
}
.detail__box--right::after{
    content: "";
    position: absolute;
    background-color: #203239;
    left: 0;
    right: 30px;
    height: 100%;
}
.detail__box--btn a{
    color: #203239;
    font-size: 16px;
    font-weight: 500;
    margin-top: 51px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}
.detail__box--btn i{
    padding-left: 8px;
}


/* <!-- =============== Details End CSS ====================== --> */



/* <!-- =============== Favorit Start CSS ==================== --> */
#favorit{
    padding: 68px 0;
    background: #EEEDDE;
}
.favorite__title{
    margin-bottom: 90px;
}
.favorite__title h4{
    font-size: 16px;
    font-weight: 500;
    color: #FF7527;
    margin-bottom: 8px;
}
.favorit__wrapper{
    display: flex;
    column-gap: 64px;
}
.favorit__wrapper--left{
    width: 45%;
}
.favorit__wrapper--right{
    width: 55%;
}
.favorit__wrapper--left img{
    display: inline-block;
}
.favorit__wrapper--right .title{
    padding-bottom: 24px !important;
}
/* .favorit__wrapper--btn{
    column-gap: 48px;
} */
.f__btn a{
    padding: 15px 47px ;
    border:  solid 2px #203239;
    border-radius: 10px;
    display: inline-block;
    margin-top: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    margin-right: 30px;
    transition: all linear .3s;
}
.f__btn a:hover{
    background-color: #000;
    color: #fff;
}
.f__btn i{
    padding-right: 12px;
}
/* <!-- =============== Favorit End CSS ====================== --> */



/* <!-- =============== Auditor Start CSS ==================== --> */
#auditor{
    padding: 68px 0;
}
.auditor__title{
    margin-top: 30px;
}
.auditor__title h4{
    font-size: 16px;
    font-weight: 500;
    color: #FF7527;
    margin-bottom: 8px;
}
.auritor__heading{
    display: flex;
    justify-content: space-between;
}
.auditor__slider a i{
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background-color: #c7c1c1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.auditor__slider:hover{

    background-color:#7d7878 ;
}

.auditor__slider a i{
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.auditor__wrapper{
    display: flex;
    column-gap: 49px;
}
.auditor__box{
    width: 357px;
    height: 604px;
    margin-top: 64px;
}

.auditor__box--content h5{
    font-size: 24px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 8px;
}
/* <!-- =============== Auditor End CSS ====================== --> */

/* <!-- =============== Contact Start CSS ==================== --> */
#contact{
    padding: 48px 0;
    background-color: #EEEDDE;
}
.marge{
    display: flex;
}
.content__wrapper{
    display: flex;
    column-gap: 117px;
}
.content__wrapper--left{
    height: 295px;
    width: 650px;
}
.content__wrapper--box{
    width: 234px;
    display: flex;
    column-gap: 48px;
}
.content__left--part1{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    column-gap: 22px;
    margin-top: 63px;
    border: solid 1px #FF7527;
    border-radius: 10px;

}
.box__content a{
    padding: 8px 16px;
    background-color: transparent;
    border-radius: 12px;
    text-transform: capitalize;
    color: #000;
    border: 2px solid black;
    padding-top: 10px;
    display: inline-block;
    transition: all linear 0.3s;
    margin-top: 15px;
}
.box__content a:hover{
    background: rgba(255, 117, 39, 0.80);
    color: #fff;
}

.box__content--list{
    font-size: 15px;
    margin-bottom: 10px;
}
.content__wrapper--right{
    height: 245px;
    width: 400px;
}
.content__right{
    display: flex;
    column-gap: 32px;
    margin-top: 39px;
}
.content__right img{
    object-fit: contain;
}


/* <!-- =============== Contact End CSS ====================== --> */

/* <!-- =============== Navbar Start CSS ==================== --> */
#footer{
    background-color: #000;
    padding: 31px 0;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
}
.footer__left{
    width: 10%;
}
.footer__left img{
    color: #fff;
}
.footer__right{
    width: 30%;
    color: #fff;
    justify-content: end;
    align-items: center;
    display: flex;
    column-gap: 64px;
}
/* <!-- =============== Navbar End CSS ====================== --> */

/* <!-- =============== Navbar Start CSS ==================== --> */
/* <!-- =============== Navbar End CSS ====================== --> */

/* <!-- =============== Navbar Start CSS ==================== --> */
/* <!-- =============== Navbar End CSS ====================== --> */




